.bg-black-alpha-50[data-v-ab68130c]{background:#000000a6}.cursor-pointer[data-v-ab68130c]{cursor:pointer}.transition-card[data-v-ab68130c]{margin:0 auto;transition:transform .2s ease-in-out;width:220px}
