.bg-black-alpha-50[data-v-a5c180cf]{background:#000000a6}.cursor-pointer[data-v-a5c180cf]{cursor:pointer}.transition-card[data-v-a5c180cf]{margin:0 auto;transition:transform .2s ease-in-out;width:300px}
