.quick-entry-card[data-v-9ce8428c]{cursor:pointer;transition:transform .3s ease,box-shadow .3s ease}.quick-entry-card[data-v-9ce8428c]:hover{box-shadow:0 8px 15px #0000001a!important;transform:translateY(-5px)}
