.quick-entry-card[data-v-85eeb668]{cursor:pointer;transition:transform .3s ease,box-shadow .3s ease}.quick-entry-card[data-v-85eeb668]:hover{box-shadow:0 8px 15px #0000001a!important;transform:translateY(-5px)}
